@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dark body {
  color: #f1f5f9;
  background: #0f172a;
}

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.bg-water-pattern {
    background-color: #f0f9ff;
    background-image: radial-gradient(#bae6fd 0.5px, transparent 0.5px);
    background-size: 24px 24px;
}
/* Custom styles to make Google Translate look cleaner */
#google_translate_element {
    margin-top: 5px;
}
.goog-te-gadget-simple {
    border: 1px solid #e2e8f0 !important;
    border-radius: 9999px !important;
    padding: 4px 12px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    background-color: #f8fafc !important;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}
